<!DOCTYPE html>
<html>
<head>

  <% include blocks/links.ejs %>
   <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <% include blocks/menu.ejs %>
  <div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
  <div class="container">
  <div style="text-align:center">
    <h2><%= product.name %></h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row" style="width: 90%">
    <div class="column">
      <img src="/images/dior_lip_maximazer.jpg" style="width:100%">
    </div>
    <div class="column">
    <h2>Producer: <%= product.producer %></h2>
    <h2>Volume: <%= product.volume %></h2>
    <h2>Classification: <%= product.classification %></h2>
    <h2>Made in: <%= product.made_in %></h2>

    <p><a href="/product/edit/<%= product._id %>" target="_parent"><button>Edit</button></a></p>
    <p><a href="#" data-id="<%= product._id %>"><button class = "delete">Delete</button></a></p>
    </div>
  </div>





</div>
<% include blocks/footer.ejs %>
<script src="/scripts/menuScript.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/css/bootstrap.js"></script>
<script src="/scripts/delete.js"></script>
</body>
</html>
